* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 50px;
  font-family: "Roboto", sans-serif;
}

.grid-boxes {
  display: grid;
  grid-template-columns: 100px 2fr 5fr 50px;
  grid-template-rows: 100px;
  gap: 16px;
}

.box {
  background-color: #bfd641;
}

/* .box:nth-of-type(2) {
  grid-column: span 2;
}

.box:nth-of-type(4) {
  grid-column-start: 3;
} */

.image-mask {
  width: 1000px;
  height: 500px;
  mask-image: url(mask-1.png);
  mask-repeat: no-repeat;
  mask-size: contain;
}

.image-mask img {
  width: 100%;
}

.banner {
  width: 1000px;
  height: 500px;
  position: relative;
}

.banner-mask {
  width: 1000px;
  height: 500px;
  mask-image: url(mask-2.png);
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: darkgoldenrod;
}

.banner-text {
  position: absolute;
  top: 40%;
  left: 33%;
  font-size: 36px;
  letter-spacing: 2px;
  font-style: italic;
  color: white;
}

.arrow {
  width: 500px;
  height: 500px;
  clip-path: polygon(
    0% 15%,
    15% 15%,
    15% 0%,
    85% 0%,
    85% 15%,
    100% 15%,
    100% 85%,
    85% 85%,
    85% 100%,
    15% 100%,
    15% 85%,
    0% 85%
  ); /* https://bennettfeely.com/clippy/ */
  background-color: #bc70a4;
  margin: 40px 100px;
}

.wrapper {
  width: 600px;
  padding: 24px;
  border: 1px solid darkgreen;
  margin-top: 50px;
  margin-left: 100px;
  background: linear-gradient(140deg, #eadedb 0%, #bc70a4 50%, #aeaddd 75%);
  /* linear-gradient(direction, color-stop1, color-stop2, ...); */
}

.info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info-big {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card {
  width: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 100px;
}

.card-heading {
  margin: 0;
  font-size: 24px;
}
.card-badge {
  width: fit-content;
  font-size: 14px;
  background-color: darkgreen;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 8px 0;
}

.card-description {
  font-size: 14px;
  color: grey;
  line-height: 20px;
}

.card-price {
  font-size: 18px;
  color: #da3c0c;
  font-weight: bold;
}

.card-discounted-price {
  font-size: 14px;
  color: gray;
  font-weight: normal;
  text-decoration: line-through;
}

@media (hover: hover) {
  .card:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
